/* :root {
  --background-color: #1A2238;
  --text-color: rgb(202 202 210);
  --header-color: #9DAAF2;
  --accent2-color: #FF6A3D;
  --accent3-color: #f4DB7D;
} */

:root {
  --background-color: #1A2238;
  --text-color: rgb(202 202 210);
  --header-color: #a0adf7;
  --header-backgroundcolor: #495381;
  --accent2-color: #FF6A3D;
  --accent3-color: #f4DB7D;

  --sidebar-width: 15rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.link {
  color: var(--accent2-color);
}

.highlight {
  color: var(--accent3-color);
}

#sidebar {
  color: var(--header-color);
  background-color: var(--header-backgroundcolor);
  width: var(--sidebar-width);
  min-height: 100vh;
  margin-right: 10px;
  position: absolute;
  left: 0;
  z-index: 99;
}

@media (max-width: 768px) {
  #sidebar {
    left: calc(var(--sidebar-width) * -1);
  }  
}

#sidebar>ul>li {
  padding: 0 .25em .5em .25em;
}

#hamburgerButton {
  display: none;
}

@media (max-width: 768px) {
  #hamburgerButton {
    display: block;
  }  
}

#main {
  width: calc(100% - var(--sidebar-width));
  transition: opacity 0.5s ease-in-out;
  left: var(--sidebar-width);
  transition: ease-in-out all .25s;
}

@media (max-width: 768px) {
  #main {
    width: 100%;
    left: 0;
  }  
}

#sidebar.slide {
  transition: transform 0.25s ease-in-out;
}

#sidebar.sidebar-open {
  transform: translateX(15rem);
}

#sidebarCloseButton {
  display: none;
}

@media (max-width: 768px) {
  #sidebarCloseButton {
    display: block;
  }  
}

#main.sidebar-open {
  opacity: 30%;
}

#header {
  color: var(--header-color);
  background-color: var(--header-backgroundcolor);
}

.header_layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left center right";
}

.header_left {
  grid-area: left;
  justify-self: left;
}

.header_center {
  grid-area: center;
  justify-self: center;
}

.header_right {
  grid-area: right;
  justify-self: right;
}