@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Krona+One&family=Special+Elite&family=Maven+Pro:wght@500&family=Work+Sans:wght@400&display=swap');

/* :root {
  --background-color: #1A2238;
  --text-color: rgb(202 202 210);
  --header-color: #9DAAF2;
  --accent2-color: #FF6A3D;
  --accent3-color: #f4DB7D;
} */

/* :root { //purple
  --background-color: #1A2238;
  --text-color: #cacad2;
  --header-color: #A6B3FF;
  --header-backgroundcolor: #373F61;
  --accent2-color: #CCBB85;
  --accent3-color: #BD2258;

  --sidebar-width: 15rem;
} */

/* :root {  // greenish
  --background-color: #1A2238;
  --text-color: rgb(202 202 210);
  --header-backgroundcolor: #789C90;
  --header-color: #063E61;
  --accent2-color: #CFC667;
  --accent3-color: #BD2258;

  --sidebar-width: 15rem;
} */


:root {
  --background-color: #1A2238;
  --text-color: #b9b9c2;
  --header-color: #b9b9c2;
  --header-backgroundcolor: rgb(52, 62, 94);
  --sidebar-backgroundcolor: rgb(38, 46, 70);
  --sidebar-bordercolor: #ffffff77;
  --accent2-color: #CCBB85;
  --accent3-color: #BD2258;

  --header-height: 3.75rem;
  --sidebar-width: 12.5rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 1em;
  font-family: Rubik;
}

@media (max-width: 75em) {
  body {
    font-size: 1.3em;
  }  
}

.link {
  color: var(--accent2-color);
}

.highlight {
  color: var(--accent3-color);
}

#sidebar {
  color: var(--header-color);
  background-color: var(--sidebar-backgroundcolor);
  width: var(--sidebar-width);
  min-height: 100vh;
  margin-right: 10px;
  position: absolute;
  left: 0;
  z-index: 99;
  font-family: Maven Pro;
  border-right: 1px solid var(--sidebar-bordercolor);
}

@media (max-width: 768px) {
  #sidebar {
    left: calc(var(--sidebar-width) * -1);
  }  
}

#sidebar>ul>li {
  padding: 0 .25em .5em .25em;
}

#hamburgerButton {
  display: none;
}

@media (max-width: 768px) {
  #hamburgerButton {
    display: block;
  }  
}

#main {
  width: calc(100% - var(--sidebar-width));
  transition: opacity 0.5s ease-in-out;
  left: var(--sidebar-width);
  transition: ease-in-out all .25s;
}

@media (max-width: 768px) {
  #main {
    width: 100%;
    left: 0;
  }  
}

#sidebar.slide {
  transition: transform 0.25s ease-in-out;
}

#sidebar.sidebar-open {
  transform: translateX(12.5rem);
}

#sidebarCloseButton {
  display: none;
}

@media (max-width: 768px) {
  #sidebarCloseButton {
    display: block;
  }  
}

#main.sidebar-open {
  opacity: 30%;
}

#header {
  color: var(--header-color);
  background-color: var(--header-backgroundcolor);
  height: var(--header-height);
}

.header_layout {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  grid-template-areas: "left center right";
}

.header_left {
  display: none;
}

@media (max-width: 768px) {
  .header_left {
    display: block;
    grid-area: left;
    justify-self: left;
  }
}

#branding {
  margin-left: 0.5em;
  margin-top: 0.1em;

  grid-area: left;
  justify-self: left;

  font-family: Krona One;
  font-size: xx-large;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  #branding {
    margin-left: -0.5em;
    margin-top: 0.2em;

    grid-area: center;
    justify-self: center;

    font-size: x-large;

    overflow: hidden;
  }
}

#brandingText {
  margin-top: 0.15em;
}

@media (max-width: 768px) {
  #brandingText {
    margin-top: 0.35em;
  }
}

.header_right {
  grid-area: right;
  justify-self: right;
}

#logo {
  margin-right: 0.5em;
  margin-top: 0.1em;
}

@media (max-width: 768px) {
  #logo {
    margin-right: 0.6em;
  }
}

#avatar {
  margin-top: 0.5em;
  margin-right: 0.5em;
  border-radius: 25px;
}